$primary-color: #9e0202;
$secondary-color: #550000;

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 1rem;
}

a {
    outline: none;
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: none;
}

a:hover {
    opacity: 0.9;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    text-decoration: none;
    background: none;
}

button:hover {
    opacity: 0.9;
}

li {
    list-style-type: none;
}

// Scrollbar

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #504f4f;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9c9b9b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #8a8989;
}
