@import '../../utils';

.form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: end;

    label {
        padding-right: 0.5rem;
        font-weight: 500;
        font-size: 0.9rem;
    }

    input {
        width: 3rem;
        padding: 0.4rem 0;
        padding-left: 0.5rem;
        outline: none;
        border: 1px solid #cfcfcf;
        border-radius: 5px;
    }
}
